#byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
#byte_range { margin-top: 5px; }

table, tr, td {
    border: 1px solid black;
}
tr:hover {
    background: #8effb0;
}
td:hover {
    background: #43ff52;
}
td{
    padding: 10px;
}
.tst{
    width: 600px;
    margin: 0 auto;
}
